h1{font-family: arial;
    color:rgb(13, 15, 15)}
P{font-family: arial;}
body{background-color: rgb(108, 131, 141);
color: aliceblu;}
button{font-family:arial;
    background-color: rgb(235, 201, 151);
 color: rgb(230, 32, 32);}